sudo: required
dist: trusty
language: node_js
cache:
  directories:
    - ~/.npm
notifications:
  email: false
node_js:
  - 10
before_install:
  - sudo apt-get install expect
  - sudo apt-get install libnotify-bin
install:
  - npm install
script:
  - npm run lint
  - npm run build
  - npm test
after_success:
  - npm run travis-deploy-once "npm run semantic-release"
  - test $TRAVIS_PULL_REQUEST == "false" && npm run snapshot-publish
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
